.recuadroTitular{
  border:solid 2px white;
  background-color:#234f8e;
  margin-top:30px;
  margin-bottom: 30px;          
  border-radius: 16px 16px 16px 16px;     
}

.textoTitular{
  color:white;
  text-align:justify;   
  font-size: 18px;     
  margin-top: 5px;
}

.opcionesLateralesTitular{
  margin-left:20%;
}

.recuadroDerechoTitular{
  margin-left:5px;
  width:30%;
  margin-top:20px;
}

.textoLateralTitular{
  font-size:16px;
  color:white;
  margin-top:35px;
} 

.espacio{ 
margin-top: 10px;
}